body {
    margin: 0px;
    color: #303133;
    width: 100% !important;
    padding-right: 0px !important;
    overflow: hidden !important;
}

.el-popup-parent--hidden {
    width: 100%;
}

.center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    right: 20px;
}

.bottommenu {
    height: 42px;
    background-color: #eee;
}

.treelist {
    height: calc(100% - 28px);
    overflow-y: auto;
}

.editer {
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.el-tabs__header {
    margin: 0px;
}