body {
    margin: 0px;
    color: #303133;
    width: 100% !important;
    padding-right: 0px !important;
    overflow: hidden !important;
}

.el-popup-parent--hidden {
    width: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    right: 20px;
}

.left-el-text {
    align-self: self-start;
}

.rightbox {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.bottommenu {
    height: 32px;
    background-color: #eee;
    display: flex;
    align-items: center;
}

.treelist {
    height: calc(100% - 28px);
    overflow-y: auto;
}

.editer {
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.el-tabs__header {
    margin: 0px;
}

.flex-grow {
    flex-grow: 1;
}