<el-container>
    <el-header style="background-color: #eee;">
        <div class="center">
            <el-button @click="onOpenProject"><el-icon>
                    <FolderOpened />
                </el-icon>打开</el-button>
            <el-button @click="onNewFile"><el-icon>
                    <DocumentAdd />
                </el-icon>新建</el-button>
            <el-button @click="onSave"><el-icon>
                    <FolderChecked />
                </el-icon>保存</el-button>
            <el-button @click="onRender">
                <el-icon>
                    <Odometer />
                </el-icon>调试</el-button>
            <el-dropdown style="margin: 10px;">
                <el-button v-loading.fullscreen.lock="updateing"><el-icon>
                        <Tools />
                    </el-icon>工具
                </el-button>
                <template #dropdown>
                    <el-dropdown-menu>
                        <el-dropdown-item @click="onPSDExport">PSD导出</el-dropdown-item>
                        <el-dropdown-item disabled>PSD批量导出</el-dropdown-item>
                        <el-dropdown-item @click="onCheck" disabled>分析中文资源</el-dropdown-item>
                        <el-dropdown-item @click="onUpdate">更新版本</el-dropdown-item>
                    </el-dropdown-menu>
                </template>
            </el-dropdown>
            <div class="rightbox">
                <el-button @click="onOpenProject" style="width: 30px;"><el-icon>
                        <Operation />
                    </el-icon></el-button>
            </div>
        </div>
    </el-header>
    <el-container>
        <el-aside width="260px" style="background-color: #ccc;height:  calc(100vh - 51px - 42px); overflow-y: hidden;">
            <el-input style="height: 41px;" v-model="filterFileName" placeholder="过滤文件..." @input="onFilterChange">
                <template #prefix>
                    <el-icon class="el-input__icon">
                        <search />
                    </el-icon>
                </template>
            </el-input>
            <el-tree class="treelist" :data="files" @node-click="onHandleNodeClick" />
        </el-aside>
        <el-main style="border-width: 1px; background-color: #ffffff;--el-main-padding:0px;overflow-y: hidden;">
            <el-tabs type="card" closable @tab-click="onTabChange" @tab-remove="onRemoveTab" v-model="tabKey"
                style="margin: 0px;">
                <el-tab-pane v-for="item in tabs" :key="item.name" :name="item.name"
                    :label="item.title + (item.isChange ? '*' : '')" style="margin: 0px;" />
            </el-tabs>
            <!-- 主要编辑器内容 -->
            <el-container>
                <el-main
                    style="border-width: 1px; background-color: #ffffff;--el-main-padding:0px;overflow-y: hidden;height:  calc(100vh - 92px - 42px);">
                    <iframe ref="editer" class="editer" src="md/editor.html" />
                    <div id="dialog" style="overflow-y: hidden;"></div>
                </el-main>
                <el-aside width="320px" style="background-color: #ccc;">
                    <iframe ref="uiediter" class="editer" src="canvas/index.html" style="width: 100%;height: 576px;" />
                </el-aside>
            </el-container>
        </el-main>
    </el-container>
    <el-footer class="bottommenu">
        <el-button class="mx-1" size="small" @click="onShowFileList">
            <el-icon>
                <Files />
            </el-icon>文件大小:{{ assetsSize }}kb</el-button>
        <div style="position:fixed;right:5px;bottom: 5px;">
            <el-switch v-model="orientation" size="small" active-text="竖向" inactive-text="横向"
                style="margin-right: 5px;" />
            <el-select @change="onPhoneChange" v-model="phoneSelect" placeholder="请选择设备尺寸" size="small">
                <el-option v-for="item in phones" :key="item.label" :label="item.label" :value="item.label" />
            </el-select>
        </div>
    </el-footer>
</el-container>